<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/static.css">
</head>
<body>
<header>
    <h1>Change Password</h1>
</header>
<main>
    <form action="/user/changePassword" method="post">
        <div>
            <label for="password">Current Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>
        <button type="submit">Change Password</button>
    </form>
</main>
<footer>
    <p>&copy; 2025 My Website</p>
</footer>
</body>
</html>